<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.squidos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        android:resizeable="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">
        <activity
            android:name="com.example.squidos.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.squidos.MainMenu" >
        </activity>
        <activity
            android:name="com.example.squidos.VMStatus" >
        </activity>
        <activity
            android:name="com.example.squidos.ThumbView" >
        </activity>
        <activity
            android:name="com.example.squidos.DirectView" >
        </activity>
        <activity
            android:name="com.example.squidos.AccountView" >
        </activity>
        <activity
            android:name="com.example.squidos.EditInfos" >
        </activity>
		<activity
			android:name="com.example.squidos.CreateAccount" >
		</activity>
    </application>

</manifest>
